.popup-content{
    background-image: linear-gradient(to right, #C6FFDD, #FBD786, #F7797D);;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 10px;
padding: 10px;
border-radius: 10px 10px 10px 10px;

}
.popup-content-p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}